<!DOCTYPE html>
<html>
  <head>
    <title>Bản đồ nền 1</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-omnivore/0.3.4/leaflet-omnivore.min.js"
      integrity="sha256-k1l+ouvMXT+0iRA8pc8e0dge4ZeGjXG6imrvWboFTRE="
      crossorigin="anonymous"
    ></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     
    <link rel="stylesheet" href="leaflet/leaflet.css" />
    <link rel="stylesheet" href="leaflet/leaflet.draw.css" />
    <script src="leaflet/leaflet.js"></script>
    <script src="leaflet/leaflet.draw.js"></script>
    <script src="leaflet/leaflet-color-markers.js"></script>
    <!-- <script src="script/Leaflet.MakiMarkers.js"></script> -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <div id="map"></div>
  </body>
  <script src="script/script.js"></script>
  <script src="script/combo-box.js"></script>
</html>
